[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn="*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
flasgger = "*"
alembic = ">=1.13.2"
flask-cors = "*"
sqlalchemy = "*"
pymysql = "*"
pydantic = "*"
pydantic-settings = "*"
python-dotenv = "*"
waitress = "*"
passlib"==1.7.4"
bcrypt"==3.2.2"
python-jose = {version = "==3.3.0", extras = ["cryptography"]}
[dev-packages]

[requires]
python_version = "3.12.2"
